<h2>Welcome to transfer money v1</h2>

<input type="text" id="payer_id" placeholder="Please enter payer address">
<br><br>
<input type="text" id="payee_id" placeholder="Please enter payee address">
<br><br>
<input type="NUMBER" id="amount" placeholder="Please enter amount">
<br><br>
<button class="btn" onclick="transfer()">Transfer Money</button>
<br><br>
<button class="btn" onclick="view_transaction()">View Transaction</button>
<p id="view_payer_id"></p>
<p id="view_payee_id"></p>
<p id="view_amount_id"></p>
<br><br>

<script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
<script>
    const contract_address = "0x5f85b69cedba1cacf144904e838c8f04380f602c";
    const contract_abi = [
	{
		"inputs": [],
		"stateMutability": "nonpayable",
		"type": "constructor"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "amount_of_transfer",
				"type": "uint256"
			},
			{
				"internalType": "address",
				"name": "payer_add",
				"type": "address"
			},
			{
				"internalType": "address",
				"name": "payee_add",
				"type": "address"
			}
		],
		"name": "weixin",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "check_transction",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			},
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	}
];

    const web3 = new Web3(Web3.givenProvider);  
    console.log(web3);
    const contract = new web3.eth.Contract(contract_abi, contract_address);
    console.log(contract);

    async function transfer() {
        const accounts = await web3.eth.requestAccounts();
        console.log(accounts);
        const payer_address = document.getElementById("payer_id").value;
        const payee_address = document.getElementById("payee_id").value;
        const amount = document.getElementById("amount").value;
        console.log(payer_address,payee_address,amount);

        await contract.methods.weixin(amount, payer_address, payee_address).send({from:accounts[0]});
    }

    async function view_transaction(params) {
        const result = await contract.methods.check_transction().call();
        const payer_address = result[0];
        const payee_address = result[1];
        const amount = result[2];

        document.getElementById("view_payer_id").innerText = "Payer Address: " + payer_address;
        document.getElementById("view_payee_id").innerText = "Payee Address: " + payee_address;
        document.getElementById("view_amount_id").innerText = "Ammount: " + amount;
    }

</script>